# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Flask instance folder
instance/

# VS Code settings (opcional)
.vscode/

# MacOS stuff (opcional)
.DS_Store
